In [50]:
import pandas as pd

In [51]:

data = pd.read_excel('data/etunimitilasto-2022-08-04-dvv.xlsx', ['Miehet kaikki', 'Naiset kaikki'])

In [52]:
data['Miehet kaikki']

       Etunimi  Lukumäärä
0       Juhani     281516
1        Olavi     140701
2       Antero     135448
3       Tapani     135058
4     Johannes     133244
...        ...        ...
9957    Zubeir          5
9958     Zuhdi          5
9959       Åge          5
9960      Ämir          5
9961      Änäs          5

[9962 rows x 2 columns]

In [53]:
male_names = [name for name, _ in data['Miehet kaikki'].values]
print(f"There are {len(male_names)} male names")
female_names = [name for name, _ in data['Naiset kaikki'].values]
print(f"There are {len(female_names)} female names")
full_list_names = male_names + female_names

print(len(full_list_names))

#for names, _ in data['Miehet kaikki'].values:
#   full_list_names.append(names)

There are 9962 male names
There are 12921 female names
22883

Lets check some of the sample

In [54]:
import random

male_indeces = random.sample(range(0, len(male_names)-1), 10)
female_indeces = random.sample(range(0, len(female_names)-1), 10)

print('Male names:')
for i in male_indeces:
    print(male_names[i])

print('Female names:')
for i in female_indeces:
    print(female_names[i])

Male names:
Tibor
Naman
Tapio
William
Wen
Iikanpoika
Najeeb
Nsimba
Bengt
Joda
Female names:
Geeta
Sarang
Eeva-Reetta
Koskinen
Fredriikka
Kristi
Märtta
Jasmiine
Caren
Maite

In [55]:
full_list_names[-50:]

['Wali',
 'Wanida',
 'Waseem',
 'Wassana',
 'Wenni',
 'Werona',
 'Whitney',
 'Wiam',
 'Widad',
 'Wilhelm',
 'William',
 'Wirginia',
 'Xanaan',
 'Xian',
 'Ximena',
 'Xiomara',
 'Xuân',
 'Yahia',
 'Yamila',
 'Yar',
 'Yasser',
 'Yazmin',
 'Yazmine',
 'Yenni',
 'Yeshi',
 'Yoana',
 'Yoko',
 'Yonis',
 'Yousuf',
 'Ysabel',
 'Yuri',
 'Ywonne',
 'Z.',
 'Zakaria',
 'Zamira',
 'Zar',
 'Zari',
 'Zeena',
 'Zelealem',
 'Zelia',
 'Zelina',
 'Zine',
 'Zinita',
 'Zion',
 'Ziyad',
 'Zozan',
 'Zubaida',
 'Zuhra',
 'Zuhur',
 'Äänis']

In [56]:
min(len(name) for name in full_list_names)

1

In [57]:
for name in full_list_names:
     if len(name) == 1:
        print(name)

M
A
J
R
S
Y
C
H
K
P
D
A
Y
H
M
S
J
F
R
C

I will get rid of entries with 1 letter only...

In [58]:
print(f"Before popping the list was {len(full_list_names)}")
for i, name in enumerate(full_list_names):
     if len(name) == 1:
        full_list_names.pop(i)
print(f"After popping the list is {len(full_list_names)}")

Before popping the list was 22883
After popping the list is 22863

In [59]:
max(len(name) for name in full_list_names)

16

# Bigram

In [61]:
from collections import Counter

biagram_counter = Counter()

for w in full_list_names[:5]:
    chs = ['<S>'] + list(w) + ['<E>']
    for ch1, ch2, in zip(chs, chs[1:]):
        biagram = (ch1, ch2)
        biagram_counter[biagram] += 1

<S> J
J u
u h
h a
a n
n i
i <E>
<S> O
O l
l a
a v
v i
i <E>
<S> A
A n
n t
t e
e r
r o
o <E>
<S> T
T a
a p
p a
a n
n i
i <E>
<S> J
J o
o h
h a
a n
n n
n e
e s
s <E>